{% extends 'base.html.twig' %}

{% block title %}Evaluation Symfony{% endblock %}

{% block body %}


      <h1>Bienvenue sur notre blog</h1>
      <div>
        <p>
          Hello ! Nous sommes Clément, JP et Vivien. Etudiants en 3ème année de licence en Full Stack dans la vie, nous vous partageons avec vous des conseils pour créer un blog et développer votre visibilité sur le web. Si vous avez une question ou envie de réagir après avoir lu cet article, n'hésitez pas à poster un commentaire dans l'espace prévu à cet effet !
          Si vous vous souhaitez nous contacter vous trouverez notre "flyer" en bas de page.
        </p>
      </div>
    
    

{% endblock %}
